<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      
    <style>
        @font-face {font-family: palatino-linotype; src: url('/public/palatino-linotype.ttf');}
        *{
            font-family: palatino-linotype;
        }
        
        html, body{
            height: 100%;
            margin: 0;
        }
        
        #logoImg{
            height: auto;
            max-width: 90vw;
            max-height: 1000%;
            width: 218px;
            mix-blend-mode: multiply;
            /* Animations */
            -webkit-animation:spin 12s linear infinite;
            -moz-animation:spin 12s linear infinite;
            animation:spin 12s linear infinite;
        }
        
        /* Animations - Logo Spin */
        @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
        @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
        @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
            
    </style>



<!-- end stylesheet -->



    <title>Colliding Galaxies - No focus, Please ignore this message.</title>
    <link rel="icon" href="/public/galaxy%20logo.png">
  </head>





<!-- start of webpage -->





  <body>
    <!-- logo and title -->
    <div class="container-fluid min-vh-100 text-center">
      <div class="row">
          <div class="col border-bottom">
              <img src="/public/galaxy%20logo.png" class="img-fluid" id="logoImg">
              <a href="/" role="button" style="color: black; text-decoration: none;">
              <h1><strong>Colliding Galaxies</strong></h1>
              </a>
              <p><em>No focus, please ignore this message.</em></p>
          </div>
      </div>


<!--
      start() 
      <div class="row">
          <div class="col p-5">
              <h1><strong>start()</strong></h1>
          </div>
      </div>
-->


      <!-- button navbar -->
      <div class="row w-25 mx-auto d-flex justify-content-center">
          <div class="btn-group  border-bottom p-4" role="group">
              <button onclick="location.href='/galleries'" type="button" class="btn btn-dark m-1" style="border-radius: 25px;">Galleries</button>
              <button onclick="location.href='/music'" type="button" class="btn btn-dark m-1" style="border-radius: 25px;">Music</button>
              <button onclick="location.href='/writing'" type="button" class="btn btn-dark m-1" style="border-radius: 25px;">Writing</button>
          </div>
      </div>
      


      <!-- music link dropdown -->
      <div class="row">
          <div class="col p-5">
              <a class="btn btn-dark btn-lg" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                     Listen...click me.
              </a>
              <div class="collapse" id="collapseExample">
                  <div class="card card-body text-center mx-auto justify-content-center align-items-center h-auto" style="width: auto; min-width: 300px; max-width: 500px;">
                    <iframe src="https://open.spotify.com/embed/album/2Ro32z51avhweEJNen8W7m" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" class="w-100"></iframe>
                  </div>
              </div>
              
              <div class="d-none d-sm-block row">
                <div class="col p-5">
                    <a onclick="startScroll();" role="button" style="text-decoration: none !important;"><h1><strong>start()</strong></h1></a>
                    <p class="m-0 p-0">Welcome friend, please enjoy your stay.</p>
                    <p class="m-0 p-0"><em>Click start()</em></p>
                    <p class="m-0 p-0"><em>or</em></p>
                    <p class="m-0 p-0"><em>Scroll down to begin.</em></p>
                  </div>
              </div>

              
              <!-- Here is how to add raw audio with controls

              <audio controls style="width: 240px; max-width: 240px;">
                  <source src="Its a wonderful world, too bad its frozen in time.mp3"
              </audio>
              -->

          </div>
      </div>
    </div>


    <!-- "Second page", featured images --> 



    <div class="container text-center justify-content-center">
          <div class="row">
              <div class="col"><h1>Hello there</h1></div>
          </div>
          <div class="row">
              <img class="img-fluid pb-4 mx-auto d-block col h-25" src="/public/laptop-hand.JPG">
              <img class="img-fluid pb-4 mx-auto d-block col h-25" src="/public/photos/dsc_0311.jpg">
              <img class="img-fluid pb-4 mx-auto d-block col h-25" src="/public/photos/dsc_0483.jpg">
              <img class="img-fluid pb-4 mx-auto d-block col h-25" src="/public/photos/dsc_0511.jpg">
              <img class="img-fluid pb-4 mx-auto d-block col h-25" src="/public/photos/dsc_0512.jpg">
              <img class="img-fluid pb-4 mx-auto d-block col h-25" src="/public/photos/dsc_0522.jpg">
              <img class="img-fluid pb-4 mx-auto d-block col h-25" src="/public/photos/dsc_0537.jpg">
              <img class="img-fluid pb-4 mx-auto d-block col h-25" src="/public/photos/dsc_0566.jpg">
              <img class="img-fluid pb-4 mx-auto d-block col h-25" src="/public/photos/dsc_0569.jpg">
              <img class="img-fluid pb-4 mx-auto d-block col h-25" src="/public/photos/dsc_0572.jpg">
              <img class="img-fluid pb-4 mx-auto d-block col h-25" src="/public/photos/dsc_0585.jpg">
              <img class="img-fluid pb-4 mx-auto d-block col h-25" src="/public/photos/dsc_0738.jpg">
              <img class="img-fluid pb-4 mx-auto d-block col h-25" src="/public/photos/dsc_0833.jpg">
              <img class="img-fluid pb-4 mx-auto d-block col h-25" src="/public/photos/dsc_0891.jpg">
              <img class="img-fluid pb-4 mx-auto d-block col h-25" src="/public/photos/dsc_0880.jpg">
              
              
              
              
              
              
              
              
              
              
              
              
              
              
          </div>
      </div>

      <img src="/public/heart-emoji.png" class="img fluid text-center justify-content-center d-block mx-auto" style="height: 45px !important; width: 45px !important;"></img>

      <div class="p-5 m-5"></div>
      








    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <script>
      function startScroll(){
        document.querySelector("body > div.container.text-center.justify-content-center > div:nth-child(1)").scrollIntoView({behavior: "smooth", block: "start"});
      }
    </script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>