<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <style>
        @font-face {font-family: palatino-linotype; src: url('/public/palatino-linotype.ttf');}
        *{
            font-family: palatino-linotype;
        }
        
        html, body{
            height: 100%;
            margin: 0;
        }
        .myfooter {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
        }
        
        #logoImg{
            height: auto;
            max-width: 90vw;
            max-height: 1000%;
            width: 218px;
            mix-blend-mode: multiply;
            /* Animations */
            -webkit-animation:spin 12s linear infinite;
            -moz-animation:spin 12s linear infinite;
            animation:spin 12s linear infinite;
        }
        
        /* Animations - Logo Spin */
        @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
        @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
        @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


       
            
    </style>



<!-- end stylesheet -->



    <title>Colliding Galaxies - No focus, Please ignore this message.</title>
    <link rel="icon" href="/public/galaxy%20logo.png">
  </head>





  
  <body style="overflow-y: auto !important;">
    <div class="container-fluid text-center">
      <div class="row">
          <div class="col border-bottom">
              <img src="/public/galaxy%20logo.png" class="img-fluid" id="logoImg">
              <a href="/" role="button" style="color: black; text-decoration: none;">
              <h1><strong>Colliding Galaxies</strong></h1>
              </a>
              <p><em>No focus, please ignore this message.</em></p>
          </div>
      </div>
    </div>


    <div class="container text-center">
      <!-- start() -->
      <h1 class="text-center">Music</h1>
      <div id="iOSAlert" class="alert alert-warning alert-dismissible fade" role="alert">
        <strong>Oh no!</strong> Sadly, iOS doesn't support autoplay or volume control.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>




      <div class="row row-cols-1 row-cols-md-3 g-4 pb-5" id="parentAudio">

  <!----------------------Album------------------------------>
  <div class="col">
    <button role="button" class="card text-center mx-auto d-block p-0" data-bs-toggle="collapse" data-bs-target="#collapse1" >
      <img src="/public/music/artwork/ah1.jpg" class="card-img-top w-100 d-block mx-auto" alt="...">
        <div class="collapse" id="collapse1">
          <div class="card-body">
            <h5 class="card-title">Ambient Hymns</h5>
            <div class="card-text pt-5">
                <h6>Ancient Forest Hymn</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/ambient hymns/ancient forest hymn.mp3" type="audio/mpeg">
                 </audio>

                <h6>4:27 am coding because i have to if i want a good life</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/ambient hymns/4(27) am coding because i have to if i want a good life (final other).mp3" type="audio/mpeg">
                 </audio>
                
                <h6>seawaves</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/ambient hymns/seawaves.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>fantasy lake </h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/ambient hymns/fantasy lake (v2).mp3" type="audio/mpeg">
                 </audio>
                
                <h6>yugen</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/ambient hymns/yugen (fianl final).mp3" type="audio/mpeg">
                 </audio>
                
                <h6>driving late</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/ambient hymns/driving late.mp3" type="audio/mpeg">
                 </audio>

            </div>
          </div>
      </div>
    </button>
  </div>

  <!----------------------Album------------------------------>
  <div class="col">
    <button role="button" class="card text-center mx-auto d-block p-0" data-bs-toggle="collapse" data-bs-target="#collapse2" >
      <img src="/public/music/artwork/fall11.jpg" class="card-img-top w-100 d-block mx-auto" alt="...">
        <div class="collapse" id="collapse2">
          <div class="card-body">
            <h5 class="card-title">Colliding Galaxies</h5>
            <div class="card-text pt-5">
                <h6>room (room)</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/collidinggalaxies/room (room).mp3" type="audio/mpeg">
                 </audio>

                <h6>empty</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/collidinggalaxies/Empty.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>breathing exercise</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/collidinggalaxies/breathing exercise.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>it was a sad rainy day with beautiful sunshine</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/collidinggalaxies/it was a sad rainy day with beautiful sunshine.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>room</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/collidinggalaxies/room.mp3" type="audio/mpeg">
                 </audio>
                

            </div>
          </div>
      </div>
    </button>
  </div>

  <!----------------------Album------------------------------>
  <div class="col">
    <button role="button" class="card text-center mx-auto d-block p-0" data-bs-toggle="collapse" data-bs-target="#collapse3" >
      <img src="/public/music/artwork/pianopiano.jpg" class="card-img-top w-100 d-block mx-auto" alt="...">
        <div class="collapse" id="collapse3">
          <div class="card-body">
            <h5 class="card-title">Piano, Piano</h5>
            <div class="card-text pt-5">
                <h6>Desperate</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/pianopiano/desperate.mp3" type="audio/mpeg">
                 </audio>

                <h6>Lovely</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/pianopiano/lovely.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>I'm sorry</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/pianopiano/im sorry.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>Still</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/pianopiano/still.mp3" type="audio/mpeg">
                 </audio>
                
                

            </div>
          </div>
      </div>
    </button>
  </div>

  <!----------------------Album------------------------------>
  <div class="col">
    <button role="button" class="card text-center mx-auto d-block p-0" data-bs-toggle="collapse" data-bs-target="#collapse4" >
      <img src="/public/music/artwork/lad.jpeg" class="card-img-top w-100 d-block mx-auto" alt="...">
        <div class="collapse" id="collapse4">
          <div class="card-body">
            <h5 class="card-title">Light & Darkness</h5>
            <div class="card-text pt-5">
                <h6>Perfect, just like you</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/lightAndDarkness/perfect just like you.mp3" type="audio/mpeg">
                 </audio>

                <h6>All Is Not Hopeless</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/lightAndDarkness/its not all hopeless.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>Loss of An Idea</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/lightAndDarkness/loss of an idea.mp3" type="audio/mpeg">
                 </audio>
            </div>
          </div>
      </div>
    </button>
  </div>

  <!----------------------Album------------------------------>
  <div class="col">
    <button role="button" class="card text-center mx-auto d-block p-0" data-bs-toggle="collapse" data-bs-target="#collapse5" >
      <img src="/public/music/artwork/lilac.jpg" class="card-img-top w-100 d-block mx-auto" alt="...">
        <div class="collapse" id="collapse5">
          <div class="card-body">
            <h5 class="card-title">Lilac</h5>
            <div class="card-text pt-5">
                <h6>My Crush</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/lilac/my crush.mp3" type="audio/mpeg">
                 </audio>

                <h6>Again</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/lilac/again.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>Connection</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/lilac/connection.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>Who you are</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/lilac/who you are.mp3" type="audio/mpeg">
                 </audio>
                
                

            </div>
          </div>
      </div>
    </button>
  </div>

<!----------------------Album------------------------------>
  <div class="col">
    <button role="button" class="card text-center mx-auto d-block p-0" data-bs-toggle="collapse" data-bs-target="#collapse6" >
      <img src="/public/music/artwork/da.jpeg" class="card-img-top w-100 d-block mx-auto" alt="...">
        <div class="collapse" id="collapse6">
          <div class="card-body">
            <h5 class="card-title">Dark Adaptation</h5>
            <div class="card-text pt-5">
                <h6>Reflection</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/dark adaptation/reflection.mp3" type="audio/mpeg">
                 </audio>

                <h6>Lost</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/dark adaptation/Lost.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>Dark City</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/dark adaptation/dark city.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>Solitude</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/dark adaptation/solitude.mp3" type="audio/mpeg">
                 </audio>
                
                

            </div>
          </div>
      </div>
    </button>
  </div>

<!----------------------Album------------------------------>
  <div class="col">
    <button role="button" class="card text-center mx-auto d-block p-0" data-bs-toggle="collapse" data-bs-target="#collapse7" >
      <img src="/public/music/artwork/savoir-faire.jpg" class="card-img-top w-100 d-block mx-auto" alt="...">
        <div class="collapse" id="collapse7">
          <div class="card-body">
            <h5 class="card-title">Savoir Faire</h5>
            <div class="card-text pt-5">
                <h6>She's Not Breathing</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/savoirFaire/Shes Not Breathing.mp3" type="audio/mpeg">
                 </audio>

                <h6>Fabrication</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/savoirFaire/frabrication.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>Sour Apples and Tea</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/savoirFaire/sour apples and tea.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>Unguided</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/savoirFaire/unguided.mp3" type="audio/mpeg">
                 </audio>
                 
                 <h6>Washed Out</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/savoirFaire/Washed out.mp3" type="audio/mpeg">
                 </audio>

                 <h6>Goes On</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/savoirFaire/goes on.mp3" type="audio/mpeg">
                 </audio>

                 <h6>Motorcycle Riding At Sunset</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/savoirFaire/motorcycle riding at sunset.mp3" type="audio/mpeg">
                 </audio>

                 <h6>Solitary</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/savoirFaire/solitary.mp3" type="audio/mpeg">
                 </audio>

                 <h6>Rock This Roll</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/savoirFaire/rock this roll.mp3" type="audio/mpeg">
                 </audio>

                 <h6>Swimming</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/savoirFaire/swimming.mp3" type="audio/mpeg">
                 </audio>

                 <h6>Silver and Gold Will Break My Bones and Traffic Violations Will Cost It All</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/savoirFaire/silver and gold will break my bones and traffic violations will cost it all.mp3" type="audio/mpeg">
                 </audio>

                 <h6>Worldy Persepective</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/savoirFaire/worldly perspective.mp3" type="audio/mpeg">
                 </audio>
                
                

            </div>
          </div>
      </div>
    </button>
  </div>

  <!----------------------Album------------------------------>
  <div class="col">
    <button role="button" class="card text-center mx-auto d-block p-0" data-bs-toggle="collapse" data-bs-target="#collapse8" >
      <img src="/public/music/artwork/deuxième-fois.jpg" class="card-img-top w-100 d-block mx-auto" alt="...">
        <div class="collapse" id="collapse8">
          <div class="card-body">
            <h5 class="card-title">Deuxième Fois</h5>
            <div class="card-text pt-5">
                <h6>12pt Times New Roman</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/deuxième-fois/uhjghjuguhgk.mp3" type="audio/mpeg">
                 </audio>

                <h6>Fuck Off</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/deuxième-fois/fuck off 2.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>Tell My Mother, Pt. 1</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/deuxième-fois/tell my mother (part 1).mp3" type="audio/mpeg">
                 </audio>
                
                <h6>Self Titled Depression</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/deuxième-fois/self titiled depression.mp3" type="audio/mpeg">
                 </audio>

                 <h6>Fuck This Life</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/deuxième-fois/fuck this gay life.mp3" type="audio/mpeg">
                 </audio>

                 <h6>Why?</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/deuxième-fois/why 2.mp3" type="audio/mpeg">
                 </audio>

                 <h6>Tell My Mother, Pt. 2</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/deuxième-fois/tell my mother (part 2).mp3" type="audio/mpeg">
                 </audio>

                 <h6>Looping My Life Away</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/deuxième-fois/looping my life away (band).mp3" type="audio/mpeg">
                 </audio>
                
                

            </div>
          </div>
      </div>
    </button>
  </div>

  <!----------------------Album------------------------------>
  <div class="col">
    <button role="button" class="card text-center mx-auto d-block p-0" data-bs-toggle="collapse" data-bs-target="#collapse9" >
      <img src="/public/music/artwork/faak.jpg" class="card-img-top w-100 d-block mx-auto" alt="...">
        <div class="collapse" id="collapse9">
          <div class="card-body">
            <h5 class="card-title">Fun as A Kid</h5>
            <div class="card-text pt-5">
                <h6>Good Manners</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/fun-as-a-kid/Good manners.mp3" type="audio/mpeg">
                 </audio>

                <h6>Waves</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/fun-as-a-kid/waves.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>Fun as a Kid</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/fun-as-a-kid/Fun as a Kid.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>Good Start!</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/fun-as-a-kid/good start!.mp3" type="audio/mpeg">
                 </audio>

                 <h6>Love</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/fun-as-a-kid/Love.mp3" type="audio/mpeg">
                 </audio>

                <h6>Daydreaming</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/fun-as-a-kid/daydreaming.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>Team Player</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/fun-as-a-kid/Team Player.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>They See Us Now</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/fun-as-a-kid/they see us now.mp3" type="audio/mpeg">
                 </audio>

                 <h6>Ode To Nox</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/fun-as-a-kid/Ode To Nox.mp3" type="audio/mpeg">
                 </audio>

                 <h6>when u buy a tele and are super emo</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/fun-as-a-kid/when u buy a tele and are super emo.mp3" type="audio/mpeg">
                 </audio>
                
                

            </div>
          </div>
      </div>
    </button>
  </div>

  <!----------------------Album------------------------------>
  <div class="col">
    <button role="button" class="card text-center mx-auto d-block p-0" data-bs-toggle="collapse" data-bs-target="#collapse10" >
      <img src="/public/music/artwork/ltl4.jpg" class="card-img-top w-100 d-block mx-auto" alt="...">
        <div class="collapse" id="collapse10">
          <div class="card-body">
            <h5 class="card-title">Letters to lovers (Ft. Hydronami)</h5>
            <div class="card-text pt-5">
                <h6>Letters to Lovers (orchestral)</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/letters-to-lovers/letters to lovers.mp3" type="audio/mpeg">
                 </audio>
                 <h6>Letters to Lovers (piano version)</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/letters-to-lovers/letters to lovers (solo).mp3" type="audio/mpeg">
                 </audio>
            </div>
          </div>
      </div>
    </button>
  </div>


  <!----------------------Album------------------------------>
  <div class="col">
    <button role="button" class="card text-center mx-auto d-block p-0" data-bs-toggle="collapse" data-bs-target="#collapse11" >
      <img src="/public/music/artwork/flowers.jpg" class="card-img-top w-100 d-block mx-auto" alt="...">
        <div class="collapse" id="collapse11">
          <div class="card-body">
            <h5 class="card-title">Flowers (Ft. Hydronami)</h5>
            <div class="card-text pt-5">
                <h6>Unfurl to The Morning</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/flowers/Unfurl to the Morning.mp3" type="audio/mpeg">
                 </audio>

                <h6>Seeds and Sprouts</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/flowers/seeds and sprouts.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>Two Butterflies</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/flowers/two butterflies.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>Hungry Caterpillars</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/flowers/hungry caterpillars (two butterflies reprise).mp3" type="audio/mpeg">
                 </audio>

                 <h6>Dying Flowers</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/flowers/dying flowers.mp3" type="audio/mpeg">
                 </audio>
                
                

            </div>
          </div>
      </div>
    </button>
  </div>

  <!----------------------Album------------------------------>
  <div class="col">
    <button role="button" class="card text-center mx-auto d-block p-0" data-bs-toggle="collapse" data-bs-target="#collapse12" >
      <img src="/public/music/artwork/meditations-artwork-proj-final.jpg" class="card-img-top w-100 d-block mx-auto" alt="...">
        <div class="collapse" id="collapse12">
          <div class="card-body">
            <h5 class="card-title">Meditations (Ft. Hydronami)</h5>
            <div class="card-text pt-5">
                <h6>Meditations (orchestral)</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/meditations/Meditations (with hydronami).mp3" type="audio/mpeg">
                 </audio>
                 <h6>Meditations (piano version)</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/meditations/Meditaions (piano compsed by Hydronami).mp3" type="audio/mpeg">
                 </audio>
            </div>
          </div>
      </div>
    </button>
  </div>


  <!----------------------Album------------------------------>
  <div class="col">
    <button role="button" class="card text-center mx-auto d-block p-0" data-bs-toggle="collapse" data-bs-target="#collapse13" >
      <img src="/public/music/artwork/likeACatArt.jpg" class="card-img-top w-100 d-block mx-auto" alt="...">
        <div class="collapse" id="collapse13">
          <div class="card-body">
            <h5 class="card-title">Like a Cat</h5>
            <div class="card-text pt-5">
                <h6>Its a Wonderful World, too Bad Its Frozen In Time</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/like-a-cat/Its a wonderful world, too bad its frozen in time.mp3" type="audio/mpeg">
                 </audio>

                <h6>Bandits are Loose in This Town and Thats Okay With Me, Pt. 0</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/like-a-cat/Bandits are lose in this town and thats okay with me reverb trail test.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>And I Love You</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/like-a-cat/and I love you v2.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>Today Is Easter and Tomorrow Is Nothing</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/like-a-cat/today is easter and tomorrow is nothing.mp3" type="audio/mpeg">
                 </audio>

                 <h6>Love Today, Love Tomorrow</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/like-a-cat/love today love tomorrow.mp3" type="audio/mpeg">
                 </audio>

                <h6>Just Ambient</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/like-a-cat/just ambient.mp3" type="audio/mpeg">
                 </audio>

                 <h6>Its Beautiful As Life</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/like-a-cat/its beautiful as life v2.mp3" type="audio/mpeg">
                 </audio>

                <h6>I Love You</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/like-a-cat/i love you.mp3" type="audio/mpeg">
                 </audio>

                 <h6>Lovely Space Fields</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/like-a-cat/Lovey Space Fields.mp3" type="audio/mpeg">
                 </audio>

                 <h6>U Tried</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/like-a-cat/u tried.mp3" type="audio/mpeg">
                 </audio>

                <h6>Bandits are Loose in This Town and Thats Okay With Me</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/like-a-cat/Bandits are lose in this town and thats okay with me.mp3" type="audio/mpeg">
                 </audio>
                      

            </div>
          </div>
      </div>
    </button>
  </div>

  <!----------------------Album------------------------------>
  <div class="col">
    <button role="button" class="card text-center mx-auto d-block p-0" data-bs-toggle="collapse" data-bs-target="#collapse14" >
      <img src="/public/music/artwork/snowyDaysArt.jpg" class="card-img-top w-100 d-block mx-auto" alt="...">
        <div class="collapse" id="collapse14">
          <div class="card-body">
            <h5 class="card-title">Snowy Days</h5>
            <div class="card-text pt-5">
                <h6>Happy Little Clouds</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/snowy-days/Happy little clouds.mp3" type="audio/mpeg">
                 </audio>

                <h6>The World Has Never Felt So Close Before</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/snowy-days/The world has never felt so close before.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>Empty Sea</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/snowy-days/Empty Sea.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>Carry on  With Your Own Path In Life</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/snowy-days/Carry on with your own path in life.mp3" type="audio/mpeg">
                 </audio>

                 <h6>The Entire Distance is Unknown</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/snowy-days/the entire distance is unknown.mp3" type="audio/mpeg">
                 </audio>

                <h6>Sleep in A Blanet Of Clouds</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/snowy-days/Sleep in a blanket of clouds.mp3" type="audio/mpeg">
                 </audio>

                 <h6>Its Not Only You</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/snowy-days/Its not only you.mp3" type="audio/mpeg">
                 </audio>

            </div>
          </div>
      </div>
    </button>
  </div>

<!----------------------Album------------------------------>
  <div class="col">
    <button role="button" class="card text-center mx-auto d-block p-0" data-bs-toggle="collapse" data-bs-target="#collapse15" >
      <img src="/public/music/artwork/lazyDreamsArt.jpg" class="card-img-top w-100 d-block mx-auto" alt="...">
        <div class="collapse" id="collapse15">
          <div class="card-body">
            <h5 class="card-title">Lazy Dreams</h5>
            <div class="card-text pt-5">
                <h6>Lazy Dreams</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/lazy-dreams/Lazy Dreams (1).mp3" type="audio/mpeg">
                 </audio>

                <h6>Artic</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/lazy-dreams/Lazy Dreams.mp3" type="audio/mpeg">
                 </audio>
                
                <h6>Only Sinewave Coffee</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/lazy-dreams/Lazy Dreams (2).mp3" type="audio/mpeg">
                 </audio>
                
                <h6>Ready To Move On but I Need A Glass Of Water First</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/lazy-dreams/Lazy Dreams (3).mp3" type="audio/mpeg">
                 </audio>

                 <h6>Windy Day</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/lazy-dreams/Lazy Dreams (4).mp3" type="audio/mpeg">
                 </audio>

                <h6>The Wind Travels</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/lazy-dreams/Lazy Dreams (5).mp3" type="audio/mpeg">
                 </audio>

                 <h6>Waiting on a Misty Year</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/lazy-dreams/Lazy Dreams (6).mp3" type="audio/mpeg">
                 </audio>

                 h6>Take A Moment to Meditate Its A Long Way Up To The Higheset Mountain (So Rest)</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/lazy-dreams/Lazy Dreams (7).mp3" type="audio/mpeg">
                 </audio>

                 <h6>Rest</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/lazy-dreams/Lazy Dreams (8).mp3" type="audio/mpeg">
                 </audio>

            </div>
          </div>
      </div>
    </button>
  </div>

<!----------------------Album------------------------------>
  <div class="col">
    <button role="button" class="card text-center mx-auto d-block p-0" data-bs-toggle="collapse" data-bs-target="#collapse16" >
      <img src="/public/music/artwork/fc1.jpg" class="card-img-top w-100 d-block mx-auto" alt="...">
        <div class="collapse" id="collapse16">
          <div class="card-body">
            <h5 class="card-title">First Contact</h5>
            <div class="card-text pt-5">
                <h6>All You Need Is XYZ</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/first-contact/All You Need Is XYZ.mp3" type="audio/mpeg">
                 </audio>
                 <h6>A Song for Traveling the Stars</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/first-contact/A Song for Traveling the Stars.mp3" type="audio/mpeg">
                 </audio>
                 <h6>Into The Unknown</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/first-contact/Into The Unknown.mp3" type="audio/mpeg">
                 </audio>
                 <h6>Gravity</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/first-contact/Gravity.mp3" type="audio/mpeg">
                 </audio>
                 <h6>Take a moment to breathe its a long way to the end of the universe</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/first-contact/Take a moment to breathe its a long way to the end of the universe.mp3" type="audio/mpeg">
                 </audio>
                 <h6>Exploring The Moon</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/first-contact/Exploring The Moon.mp3" type="audio/mpeg">
                 </audio>
                 <h6>Flow of Time</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/first-contact/Flow of time.mp3" type="audio/mpeg">
                 </audio>
                 <h6>The Gods Themselves</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/first-contact/The Gods Themselves.mp3" type="audio/mpeg">
                 </audio>
                 <h6>Communication</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/first-contact/Communications.mp3" type="audio/mpeg">
                 </audio>
                 <h6>Echoing Backwards In Time</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/first-contact/Echoing Backwards In Time.mp3" type="audio/mpeg">
                 </audio>
                 <h6>Life in space</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/first-contact/Life in space.mp3" type="audio/mpeg">
                 </audio>
                 <h6>The Long Voyage, Pt. 1</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/first-contact/The Long Voyage (Part 1).mp3" type="audio/mpeg">
                 </audio>
                 <h6>Stardust</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/first-contact/Stardust.mp3" type="audio/mpeg">
                 </audio>
                 <h6>The Long Voyage, Pt. 2</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/first-contact/The Long Voyage (Part 2).mp3" type="audio/mpeg">
                 </audio>
                 <h6>Journey to the End</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/first-contact/Journey to the End.mp3" type="audio/mpeg">
                 </audio>
                 <h6>Remnants Of What Remains</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/first-contact/Remnants Of What Remains.mp3" type="audio/mpeg">
                 </audio>
                 <h6>Stranded</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/first-contact/Stranded.mp3" type="audio/mpeg">
                 </audio>
                 <h6>Grand Ambience</h6>
                 <audio controls style="width: 325px; max-width: 325px; height: 20px;">
                  <source src="/public/music/audio/first-contact/Grand Ambience.mp3" type="audio/mpeg">
                 </audio>

            </div>
          </div>
      </div>
    </button>
  </div>



<!----------------------End Albums------------------------------>
</div>

<div class="container-fluid myfooter bg-white">
  <div class="row">
    <nobr><span id="titlePlaying" class="m-0 p-0"></span>
     </nobr>
  </div>

  <div class="row-col-5">
  <button class="btn" onclick="playTrack();"><i class="bi bi-play-circle"></i></button>
  <button class="btn" onclick="pauseTrack();"><i class="bi bi-pause-circle"></i></button>
  <button class="btn" onclick="previousTrack();"><i class="bi bi-skip-backward"></i></button>
  <button class="btn" onclick="nextTrack();"><i class="bi bi-skip-forward"></i></button>

<!--
  <span class="dropup" style="transform: rotate(-90deg) !important;">
    <button class="btn" role="button" onclick="addRotate();" data-bs-toggle="dropdown"><i class="bi bi-volume-up"></i></button>

    <ul class="dropdown-menu"  style="transform: rotate(-90deg);" id="myMenu">
      <span class="slideContainer" >
        <input type="range" min="1" max="100" value="100" class="slider" id="volumeSlider">
      </span>
    </ul>
  </span>
  -->

  <span class="" style="position: relative; display: inline-block;">
     <div class="myDropdown-content bg-transparent"  style="width: fit-content; height: fit-content; display: none; position: absolute; transform: rotate(-90deg); margin: -70px 0px 0px -44px; z-index: 1;" id="myMenu">
      
        <input type="range" min="0" max="100" value="100" class="slider myMenuBtn" id="volumeSlider">
      
    </div>

    <button class="btn myMenuBtn" role="button" onclick="showHide();"><i class="bi bi-volume-up myMenuIcon"></i>
    </button>

   

    
  </span>
  </div>

  
</div>

  
</div>

    <!-- Optional JavaScript; choose one of the two! -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


    <script>
      var globalAudio;
      var audioVolume;
      var audioStatePlaying;
      var iOS = !window.MSStream && /iPad|iPhone|iPod/.test(navigator.userAgent);
      console.log(iOS);

      if(iOS){
        document.getElementById('iOSAlert').classList.add('show');
      }
      else{
        document.getElementById('iOSAlert').remove();
      }
      
      //Set new volume when slider changes 
      audioVolume = document.getElementById('volumeSlider');
      audioVolume.oninput = function(){
        audioVolume = this.value / 100;
        globalAudio.volume = audioVolume;
        console.log(audioVolume);
      }
      

      var audioTracks = [...document.getElementsByTagName('audio')];
      

      
      audioTracks.forEach(function(track, index){
        //set global when track starts
        track.addEventListener('play', function(){if(globalAudio != track){setGlobal(track)}; setStatePlaying(true);}, true);

        //set state when track pauses
        track.addEventListener('pause', function(){setStatePlaying(false)}, true);

        //track ends, check if same album, set global and start playing next track
        track.addEventListener('ended', function(){if(globalAudio.offsetParent == audioTracks[index+1].offsetParent){nextTrack();}}, false);

      })

      


      function setGlobal(globalVar){
        try{pauseTrack();}
        catch(TypeError){};
        //sets current playing track
        globalAudio = globalVar;
        
        //gets current playing track title and displays it
        document.getElementById('titlePlaying').innerHTML = globalAudio.previousSibling.previousElementSibling.innerText;
        
        console.log("currSetGlobal", globalAudio, "currSetState", audioStatePlaying);
      } 

      function setStatePlaying(newState){
        audioStatePlaying = newState;
      }
      

      function playTrack() {
        if(audioStatePlaying == true){
          pauseTrack();
        }
          
          globalAudio.play();
          setStatePlaying(true);
          console.log('playing', audioStatePlaying);
        }

        function pauseTrack() {
            globalAudio.pause();
            setStatePlaying(false);
            console.log('pause', audioStatePlaying);
            
        }

        function nextTrack(){
          if(audioStatePlaying == true){
            pauseTrack();
          }
          globalAudio = globalAudio.nextElementSibling.nextElementSibling;
          document.getElementById('titlePlaying').innerHTML = globalAudio.previousSibling.previousElementSibling.innerText;
          playTrack();
        }
        function previousTrack(){
          if(audioStatePlaying == true){
            pauseTrack();
          }
          globalAudio = globalAudio.previousElementSibling.previousElementSibling;
          document.getElementById('titlePlaying').innerHTML = globalAudio.previousSibling.previousElementSibling.innerText;
          playTrack();
        }
        function volumeTrack(){}
      

    //console.log(audioTracks);
    //globalAudio.onplay = console.log('playing ', globalAudio);



    // dropdown menu onclick hide / show
    function showHide(){
      var x = document.getElementById("myMenu");
      if (x.style.display === "none") {
        x.style.display = "block";
      } 

      else {
        x.style.display = "none";
      }
    }

    window.onclick = function(event){
      if (!event.target.matches('.myMenuBtn') && !event.target.matches('.myMenuIcon')){
        var x = document.getElementById("myMenu");
        x.style.display = "none";
        console.log(!event.target.matches('.myMenuBtn'));
        console.log(event.target);
        console.log(x);
      }
    }

    </script>

     

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    -->

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->

  </body>
</html>